<!-- <% if (page.comment){ %>
  
<section id="comment">
  <h2 class="title"><%= __('comment') %></h2>

  <% if(theme.duoshuo_shortname) { %>
  	 <div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>  
  <% } else if(config.disqus_shortname) { %>
  	 <div id="disqus_thread">
     <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  	 </div>
  <% } %>
</section>
<% } %> -->

<!--我自己添加的评论功能-->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'chenbuer',
  repo: 'chenbuer.github.io',
  oauth: {
  client_id: 'c8819a6086d97f4c90e7',
  client_secret: '64f822e6b47604072e08527a965817df12faeab6',
  },
})
gitment.render('container')
</script>